@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
	font-family: "Roboto";
}

/* SACR TURNO */

.form{
	width: 500px;
}

/* BOTON LOGIN Y REGISTRAR */
.botonLog{
display: inline-block;
outline: 0;
cursor: pointer;
border: none;
padding: 0 80px;
height: 70px;
line-height: 70px;
border-radius: 7px;
background-color: rgb(0 64 141);
color: white;
font-weight: 400;
font-size: 20px;
box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;

}
:hover{
	color: rgba(182, 182, 182, 0.9);
}

.botonAG{
	align-content: center;
	display: inline-block;
	outline: 0;
	cursor: pointer;
	border: none;
	padding: 0 45%;
	height: 70px;
	line-height: 70px;
	border-radius: 7px;
	background-color: rgb(0 64 141);
	color: white;
	font-weight: 400;
	font-size: 20px;
	box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
	transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
	
	}
	:hover{
		color: rgba(182, 182, 182, 0.9);
	}


.botonreg{
	display: inline-block;
	outline: 0;
	cursor: pointer;
	border: none;
	padding: 0 56px;
	height: 70px;
	line-height: 70px;
	border-radius: 7px;
	background-color: rgb(0 64 141);
	color: white;
	font-weight: 400;
	font-size: 20px;
	box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
	transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
	
	}
	:hover{
		color: rgba(182, 182, 182, 0.9);
	}
	
	.botonVolver{
		display: inline-block;
outline: 0;
cursor: pointer;
border: none;
padding: 0 78px;
height: 70px;
line-height: 70px;
border-radius: 7px;
background-color: rgb(0 64 141);
color: white;
font-weight: 400;
font-size: 20px;
box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
		
		}
		:hover{
			color: rgba(182, 182, 182, 0.9);
		}
  /* otras cosas */

.espacioEntreBotones{
	margin-bottom: 10px;
}
.bodyEstatico {
	overflow: hidden;
	overflow-y: hidden;
  }
  #marginFecha{
	width: 190px;
	margin-left: -10px;
    top: 0.5rem;
	left: 2.5rem;
	font-size: 0.9rem;
}
#textoFecha{
    /* top: 0.5rem; */
	left: 2.2rem;
	top: 0;
	font-size: 0.7rem;
	margin-bottom: 32px;
}



h4.title {
	text-align: center;
	margin-bottom: 45px;
	
}
:root {
	--omrs-color-ink-lowest-contrast: rgba(47, 60, 85, 0.18);
	--omrs-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
	--omrs-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
	--omrs-color-interaction: #1e4bd1;
	--omrs-color-interaction-minus-two: rgba(73, 133, 224, 0.12);
	--omrs-color-danger: #b50706;
	--omrs-color-bg-low-contrast: #eff1f2;
	--omrs-color-ink-high-contrast: #121212;
	--omrs-color-bg-high-contrast: #ffffff;
	
}
/** END: Non Openmrs CSS **/
div.omrs-input-group {
  margin-bottom: 1.5rem;
  margin-right: 7rem;
  position: relative;
  width: 15rem; 
}

/* Input*/
.omrs-input-underlined > input,
.omrs-input-filled > input {
	border: none;
	border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
	width: 150%;
	margin-right: 10%;
	margin-left: 2%;
	height: 2.5rem;
	font-size: 0.9rem;
	line-height: 147.6%;
	padding-top: 0.825rem;
	padding-bottom: 0.2rem;
}

.omrs-input-underlined > input:focus,
.omrs-input-filled > input:focus {
	outline: none;
}

.omrs-input-underlined > .omrs-input-label,
.omrs-input-filled > .omrs-input-label {
	position: absolute;
    top: 0.5rem;
	left: 2.5rem;
	font-size: 15px;
	line-height: 147.6%;
	color: var(--omrs-color-ink-medium-contrast);
	transition: top .4s;
}

.omrs-input-underlined > svg,
.omrs-input-filled > svg {
	position: absolute;
	top: 0.9375rem;
	right: 0.875rem;
	fill: var(--omrs-color-ink-medium-contrast);
}

.omrs-input-underlined > .omrs-input-helper,
.omrs-input-filled > .omrs-input-helper {
	font-size: 0.9375rem;
	color: var(--omrs-color-ink-medium-contrast);
	letter-spacing: 0.0275rem;
	margin: 0.125rem 0.875rem;
}

.omrs-input-underlined > input:hover,
.omrs-input-filled > input:hover {
	background: var(--omrs-color-interaction-minus-two);
	border-color: var(--omrs-color-ink-high-contrast);
}

.omrs-input-underlined > input:focus + .omrs-input-label,
.omrs-input-underlined > input:valid + .omrs-input-label,
.omrs-input-filled > input:focus + .omrs-input-label,
.omrs-input-filled > input:valid + .omrs-input-label {
	top: 0;
	font-size: 0.7rem;
	margin-bottom: 32px;
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus + .omrs-input-label,
.omrs-input-filled:not(.omrs-input-danger) > input:focus + .omrs-input-label {
	color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus,
.omrs-input-filled:not(.omrs-input-danger) > input:focus {
	border-color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus ~ svg,
.omrs-input-filled:not(.omrs-input-danger) > input:focus ~ svg {
	fill: var(--omrs-color-ink-high-contrast);
}

/** DISABLED **/

.omrs-input-underlined > input:disabled {
	background: var(--omrs-color-bg-low-contrast);
	cursor: not-allowed;
}

.omrs-input-underlined > input:disabled + .omrs-input-label,
.omrs-input-underlined > input:disabled ~ .omrs-input-helper{
	color: var(--omrs-color-ink-low-contrast);
}

.omrs-input-underlined > input:disabled ~ svg {
	fill: var(--omrs-color-ink-low-contrast);
}


/** DANGER **/

.omrs-input-underlined.omrs-input-danger > .omrs-input-label, .omrs-input-underlined.omrs-input-danger > .omrs-input-helper,
.omrs-input-filled.omrs-input-danger > .omrs-input-label, .omrs-input-filled.omrs-input-danger > .omrs-input-helper{
	color: var(--omrs-color-danger);
}

.omrs-input-danger > svg {
	fill: var(--omrs-color-danger);
}

.omrs-input-danger > input {
	border-color: var(--omrs-color-danger);
}

.omrs-input-underlined > input {
	background: var(--omrs-color-bg-high-contrast);
}
.omrs-input-filled > input {
	background: var(--omrs-color-bg-low-contrast);
}
