html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(-225deg, #2B89B5 0%, #00738C 52%, #313F6F 100%);
  min-height: 100%;
  padding-bottom: 5rem;
}

#Form{
  color: rgb(187, 187, 187);
  margin-top: 15rem;
  width: 200px;
  height: 400 px;
  

}

.fondoBlanco{
  background-color: #fff;
  background: rgba(255, 255, 255, 0.767);
  width: 220%;
}

.fondoBlancoEspacio{
  color: rgba(255, 255, 255, 0.767);
}

#bordesRedondos{
  border: 2px solid rgba(255, 255, 255, 0.767);
  border-radius: 10px;
}

.conteiner {
  height: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
}

input[type="text"],
input[type="password"]
{
  height: 30px;
  width: 350px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

#Boton1 {
  background-color: #4341b3; 
  border: none;
  color: rgb(255, 255, 255);
  font-family: 'Arial';
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  margin-top: 10px ;
  margin-left: 1px;

}

#Boton1:hover {
  background-color: rgb(81, 148, 187);
}

 #formSize{
  margin-left: 300px !important;
  
  
} 

#Boton2 {
  background-color: #4341b3; 
  border: none;
  color: rgb(255, 255, 255);
  font-family: 'Arial';
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  margin-top: 10px ;
  margin-left: 1px;

}

#Boton2:hover {
  background-color: rgb(81, 148, 187);
}

h1,
h2,
label {
  color: white;
  padding: 3rem 0;
  text-align: left;
  font-family: 'Arial';
  letter-spacing: 1px;
}

#img{
  height: 300px;
  width: 500px;
  margin-left: 500px ;
  margin-bottom: 900px; 
  display: flex;
  align-items: right;
  justify-content: right;
}

.fondo{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  padding-bottom: 100%;
}