@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(-225deg, #2B89B5 0%, #00738C 52%, #313F6F 100%);
  min-height: 100%;
  padding-bottom: 5rem;
}

#Form{
  color: rgb(187, 187, 187);
  margin-top: 15rem;
  width: 200px;
  height: 400 px;
}

#Form2{
  color: rgb(187, 187, 187);
  margin-top: 15rem;
  width: 30%;
  height: 400 px;
}

#colorLetrasLogin{
  color: rgb(0, 0, 0);
}

.fondoBlanco{
  background-color: #fff;
  background: rgba(255, 255, 255, 0.767);
  width: 220%;
  padding-bottom: 3rem;
}

.fondoBlancoEspacio{
  color: rgba(255, 255, 255, 0.767);
}

#bordesRedondos{
  border: 2px solid rgba(255, 255, 255, 0.767);
  border-radius: 10px;
  width: 700px

}

.conteiner {
  height: 100%;
  display: flex;
  align-items: left;
  justify-content: left;
  width: 100%;
}

input[type="text"],
input[type="password"],
input[type="int"],
input[type="email"],
input[type="date"]
{
  width: 100%;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

#BotonReg {
  background-color: #4341b3; 
  border: none;
  color: rgb(255, 255, 255);
  font-family: 'Arial';
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 10px ;
  margin-left: 1px;
  width: 50%;
  font-family: sans-serif;
  color: rgb(149, 149, 149);
}

#BotonReg:hover {
  background-color: rgb(81, 148, 187);
}

#formSize{
  margin-left: 300px !important;
} 

.izq{
  align-content: left;
}

#Boton2 {
  background-color: #4341b3; 
  border: none;
  color: rgb(255, 255, 255);
  font-family: 'Arial';
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 10px ;
  margin-left: 1px;
  width: 80%;
  font-family: sans-serif;
  color: rgb(149, 149, 149);
}

#Boton2:hover {
  background-color: rgb(81, 92, 187);
}

h1,
h2,
label {
  color: white;
  text-align: left;
  font-family: 'Arial';
  letter-spacing: 1px;
}

#img{
  height: 300px;
  width: 500px;
  margin-left: 500px ;
  margin-bottom: 900px; 
  display: flex;
  align-items: right;
  justify-content: right;
}

.fondo{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  padding-bottom: 100%;
}

.fondo2{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100% ;
  padding-bottom: 100%;
  padding-top: 1%;
}

.conteiner{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100% ;
  padding-bottom: 100%;
  padding-top: 1%;
  
}

.letrasBotonIngreso{
  color: rgb(149, 149, 149);
  font-family: "Roboto";
}

.btntur{
  width: 10%;
  height: 10%;
}

.BTNAgenda{
  align-items: center;
  background-color: #4341b3; /* Color de fondo pastel */
  border: none;
  border-radius: 20px; /* Borde redondeado */
  padding: 10px 20px; /* Espaciado interno */
  font-family: 'Delicious Handrawn', cursive;
  font-size: 16px; /* Tamaño de la fuente */
  color: #fff; /* Color del texto */
  cursor: pointer;
}

.BTNAgenda:hover {
  /* Estilos adicionales al pasar el cursor sobre el botón */
  background-color: rgb(81, 92, 187);
}
.thead{
  align-items: center;
}




